@use "./base.scss";

// put your custom CSS here!

.page-title {
    display: inline-block;
    > a {
        width: 200px;
        height: 50px;
        display:inline-block;
        overflow: hidden;
    }
    > a::before {
        width: 200px;
        height: 50px;
        content: "";
        background-color: var(--secondary);
        mask-image: url("../static/banner.svg");
        mask-repeat: no-repeat;
        mask-position: center left;
        mask-size: contain;
        display: inline-block;
    }
}

#toc-content ul > li > a {
    opacity: .75 !important;
}

iframe {
    max-width: 100%;
}

.overflow::after {
    display: none;
}

article > h1 {
    font-size: 1.75rem !important;
}

.article-title {
    font-size: 2rem;
}